@import 'h5bp';
@import 'preboot';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  background-color: #fff;
  color: #333;
  .border-radius(3px);
  border: 1px solid #ccc;
}

input, textarea {
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}

input:focus, textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

html, body {
  background: #f1f3f5;
}

#top-bar {

  position: relative;
  background-color: #5ea1e8;
  #gradient > .vertical(#5ea1e8, #3b7dc5);
  height: 50px;
  border-bottom: 2px solid #29588d;

  h1 {
    margin: 0;
    padding: 4px 0 0 10px;
    color: #aaa;
    font-family: serif;
    font-style: italic;
    font-size: 30px;
  }

  #search-box {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -150px;
    width: 300px;

    input {
      width: 100%;
      padding: 6px 8px;
      font-size: 16px;
    }
  }
}

#note-wall {
  width: 100%;

  .mini-note {

    padding: 10px;
    width: 20%;
    float: left;


    .inner {
      height: 240px;
      background-color: #ccc;
      .border-radius(3px);
    }

    header {
      //background-color: #243244;
      //#gradient > .vertical(#243244, #3c4658);
      background-color: #5ea1e8;
      #gradient > .vertical(#5ea1e8, #3b7dc5);
      color: #fff;
      padding: 6px;
      border: 1px solid lighten(#29588d, 10%);
    }

    .content {
      color: #333;
      padding: 6px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

#journal-create {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -300px;
  background-color: #333;
  .border-radius(6px);
  .box-shadow();

  #edit-area {
    margin: 10px;

    textarea {
      .border-radius(6px);
      background-color: #222;
      border: 2px solid #333;
      width: 100%;
      height: 250px;
      color: #fff;
      padding: 8px;
      font-size: 16px;
    }
  }

  #tagging-area {
    
    #tag-input {
      .border-radius(6px);
      background-color: #222;
      border: 2px solid #333;
      color: #fff;
      padding: 8px;
      font-size: 16px;
      margin: 0 8px;
      width: 300px;
    }
  }
}